
/* Angular Material Theme */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Material Icons */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/* Bootstrap CSS compilado - Solo utilidades */
@import 'bootstrap/dist/css/bootstrap-utilities.css';
@import 'bootstrap/dist/css/bootstrap-grid.css';

/* Global styles */
html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

* {
  box-sizing: border-box;
}

/* Material Form  */

mat-form-field.mat-form-field-invalid .mat-form-field-outline-thick {
  color: var(--mat-form-field-error-color, #f44336);
}

/* Notification */
.success-snackbar {
  background-color: #4caf50 !important;
  color: white !important;
}

.error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
}
